<HTML>
<head>

<link rel="stylesheet" type = "text/css" href="/css/bootstrap-theme.min.css">
<link rel="stylesheet" type = "text/css" href="/css/bootstrap.min.css">
<script src="/js/jquery.min.js"></script>
<link rel="stylesheet" href="main.css">
</head>
<BODY>
<div class="well">
<%= time %>
</div>

</BODY>
</HTML>

